@import './Fonts.scss';

// Fonts
$fontOne: 'Fira Sans', sans-serif;
$fontTwo: 'Merriweather', serif;
$fontThree: 'Fredoka', sans-serif;

// Color
$colorOne: #0D0D0D;
$colorTwo: #595959;
$colorThree: #A6A6A6;
$colorFour: #35C9CC;